# 忽略环境配置
.env


# 忽略 Python 缓存
__pycache__/
*.pyc

# 忽略 VS Code 配置
.vscode/


venv/
.ipynb_checkpoints/  
# 忽略 Jupyter Notebook 输出


# .gitignore 文件建议添加内容：
__pycache__/
*.pyc
*.xlsx
~$*.xlsx   # Excel的临时缓存文件
input/
output/